/* OFFICIAL COLORS */
:root {
    --ts-debut: #A9CBAA;
    --ts-debut-2: #0C1A0C;
    --ts-debut-3: #46CD2C;
    --ts-fearless: #FDDAA6;
    --ts-fearless-2: #1E151A;
    --ts-fearless-3: #FBD849;
    --ts-speak-now: #D6BADC;
    --ts-speak-now-2: #000000;
    --ts-speak-now-3: #B640F5;
    --ts-red: #72333C;
    --ts-red-2: #C7B2A2;
    --ts-red-3: #F52F23;
    --ts-1989: #034A62;
    --ts-1989-2: #D1F3FF;
    --ts-1989-3: #67D8FA;
    --ts-reputation: #2A2628;
    --ts-reputation-2: #CACACA;
    --ts-reputation-3: #000000;
    --ts-lover: #FBB3D1;
    --ts-lover-2: #3D2D34;
    --ts-lover-3: #EA2DA1;
    --ts-folklore: #D5D5D5;
    --ts-folklore-2: #000000;
    --ts-folklore-3: #7A7A7A;
    --ts-evermore: #E0C9AF;
    --ts-evermore-2: #2E232A;
    --ts-evermore-3: #7D4924;
    --ts-midnights: #E0EDFD;
    --ts-midnights-2: #1F2E43;
    --ts-midnights-3: #2B6BF7;
    --ts-ttpd: #9E958B;
    --ts-ttpd-2: #EEEDEB;
    --ts-ttpd-3: #FFFFFF;
    --bs-body-font-family:
}

/***** GENERAL STYLES *****/

/* BUTTONS */
.btn {
    border-radius: 10em !important;
    min-width: 200px;
    max-width: 200px;
}

hr {
    border-top: .15em solid;
}

/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

@font-face {
    font-family: TaylorSwiftHandwriting;
    src: url(../fonts/Taylor-Swift-Handwriting.ttf);
}

body {
    --bs-body-font-family: 'Lato', sans-serif;
}

/* HEADINGS */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'TaylorSwiftHandwriting', 'Lato', sans-serif !important;
}

/* GRADIENT BG */
body {
    background: linear-gradient(-45deg, var(--ts-lover), var(--ts-fearless), var(--ts-red), var(--ts-speak-now), var(--ts-reputation), var(--ts-folklore), var(--ts-evermore), var(--ts-1989-2), var(--ts-ttpd), var(--ts-debut), var(--ts-midnights-2));
    /*background: linear-gradient(-45deg, var(--ts-lover-3), var(--ts-fearless-3), var(--ts-red-3), var(--ts-speak-now-3), var(--ts-reputation-3), var(--ts-folklore-3), var(--ts-evermore-3), var(--ts-1989-3), var(--ts-ttpd-3), var(--ts-debut-3), var(--ts-midnights-3));*/
    animation: gradient 50s ease infinite;
    background-size: 400% 400%;
    height: 100vh;
    background-attachment: fixed;
}

/* BG */
.bg-debut,
.bg-acoustic {
    background-color: var(--ts-debut) !important;
}

.bg-fearless {
    background-color: var(--ts-fearless) !important;
}

.bg-speak-now {
    background-color: var(--ts-speak-now) !important;
}

.bg-red {
    background-color: var(--ts-red) !important;
}

.bg-1989 {
    background-color: var(--ts-1989-2) !important;
}

.bg-reputation {
    background-color: var(--ts-reputation) !important;
}

.bg-lover {
    background-color: var(--ts-lover) !important;
}

.bg-folklore {
    background-color: var(--ts-folklore) !important;
}

.bg-evermore {
    background-color: var(--ts-evermore) !important;
}

.bg-midnights {
    background-color: var(--ts-midnights-2) !important;
}

.bg-ttpd {
    background-color: var(--ts-ttpd) !important;
}

/***** SPECIFIC CSS *****/

/*** CONTENT ERAS ***/
.tabMenuContent {
    padding: 3em;
}

/* ERAS MENU */
.tabMenu {
    padding-left: 0 !important;
}

.tabMenu .nav-pills .nav-link img {
    max-width: 200px;
}

.tabMenu .nav-pills .nav-link.active,
.tabMenu .nav-pills .show>.nav-link {
    background-color: transparent !important;
}

.tabMenu .nav-pills .nav-link {
    transition: all 0.5s ease;
}

.tabMenu .nav-pills .nav-link:hover {
    transform: scale(1.03);
}

/* ERAS OUTFITS CARDS */
.tabContent {
    padding-left: 1.5rem !important;
    padding-right: 0 !important;
}

.tabContent .outfitsTabContent .tab-pane {
    overflow-y: auto;
    height: 70vh;
    padding: 15px 30px;
}

/* PROGRESS BAR */
.tabContent .progress {
    display: none;
    height: .75rem;
}

/* CARDS */
.tabContent .outfitsTabContent .card {
    border-width: 0.15em;
    border-radius: 1.25em;
    cursor: pointer;
}

.tabContent .outfitsTabContent .card img {
    height: 230px;
    object-fit: contain;
}

.tabContent .outfitsTabContent .card .card-img-body {
    width: 100%;
    height: 200px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.tabContent .outfitsTabContent .card-header {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.tabContent .outfitsTabContent .card-header:first-child {
    border-radius: 1.25em 1.25em 0 0;
}

.tabContent .outfitsTabContent .col .card,
.tabContent .outfitsTabContent .col .card {
    cursor: pointer;
    transition: transform 0.5s ease;
}

.tabContent .outfitsTabContent .col:hover .card,
.tabContent .outfitsTabContent .col.selected .card {
    transform: scale(1.02);
}

/* ERAS COLOR HOVER CARDS */
.tabContent .outfitsTabContent #era-lover-tab .col.selected .card,
.tabContent .outfitsTabContent #era-lover-tab .col:hover .card {
    border-color: var(--ts-lover);
    box-shadow: 0 0 10px var(--ts-lover), 0 0 10px var(--ts-lover), 0 0 10px var(--ts-lover);
}

.tabContent .outfitsTabContent #era-fearless-tab .col.selected .card,
.tabContent .outfitsTabContent #era-fearless-tab .col:hover .card {
    border-color: var(--ts-fearless);
    box-shadow: 0 0 10px var(--ts-fearless), 0 0 10px var(--ts-fearless), 0 0 10px var(--ts-fearless);
}

.tabContent .outfitsTabContent #era-red-tab .col.selected .card,
.tabContent .outfitsTabContent #era-red-tab .col:hover .card {
    border-color: var(--ts-red);
    box-shadow: 0 0 10px var(--ts-red), 0 0 10px var(--ts-red), 0 0 10px var(--ts-red);
}

.tabContent .outfitsTabContent #era-speak-now-tab .col.selected .card,
.tabContent .outfitsTabContent #era-speak-now-tab .col:hover .card {
    border-color: var(--ts-speak-now);
    box-shadow: 0 0 10px var(--ts-speak-now), 0 0 10px var(--ts-speak-now), 0 0 10px var(--ts-speak-now);
}

.tabContent .outfitsTabContent #era-reputation-tab .col.selected .card,
.tabContent .outfitsTabContent #era-reputation-tab .col:hover .card {
    border-color: var(--ts-reputation);
    box-shadow: 0 0 10px var(--ts-reputation), 0 0 10px var(--ts-reputation), 0 0 10px var(--ts-reputation);
}

.tabContent .outfitsTabContent #era-folklore-tab .col.selected .card,
.tabContent .outfitsTabContent #era-folklore-tab .col:hover .card {
    border-color: var(--ts-folklore-3);
    box-shadow: 0 0 10px var(--ts-folklore-3), 0 0 10px var(--ts-folklore-3), 0 0 10px var(--ts-folklore-3);
}

.tabContent .outfitsTabContent #era-evermore-tab .col.selected .card,
.tabContent .outfitsTabContent #era-evermore-tab .col:hover .card {
    border-color: var(--ts-evermore);
    box-shadow: 0 0 10px var(--ts-evermore), 0 0 10px var(--ts-evermore), 0 0 10px var(--ts-evermore);
}

.tabContent .outfitsTabContent #era-1989-tab .col.selected .card,
.tabContent .outfitsTabContent #era-1989-tab .col:hover .card {
    border-color: var(--ts-1989-2);
    box-shadow: 0 0 10px var(--ts-1989-2), 0 0 10px var(--ts-1989-2), 0 0 10px var(--ts-1989-2);
}

.tabContent .outfitsTabContent #era-ttpd-tab .col.selected .card,
.tabContent .outfitsTabContent #era-ttpd-tab .col:hover .card {
    border-color: var(--ts-ttpd);
    box-shadow: 0 0 10px var(--ts-ttpd), 0 0 10px var(--ts-ttpd), 0 0 10px var(--ts-ttpd);
}

.tabContent .outfitsTabContent #era-acoustic-tab .col.selected .card,
.tabContent .outfitsTabContent #era-acoustic-tab .col:hover .card {
    border-color: var(--ts-debut);
    box-shadow: 0 0 10px var(--ts-debut), 0 0 10px var(--ts-debut), 0 0 10px var(--ts-debut);
}

.tabContent .outfitsTabContent #era-midnights-tab .col.selected .card,
.tabContent .outfitsTabContent #era-midnights-tab .col:hover .card,
.tabContent .outfitsTabContent #era-midnights2-tab .col.selected .card,
.tabContent .outfitsTabContent #era-midnights2-tab .col:hover .card {
    border-color: var(--ts-midnights);
    box-shadow: 0 0 10px var(--ts-midnights-2), 0 0 10px var(--ts-midnights-2), 0 0 10px var(--ts-midnights-2);
}

#era-midnights2-button {
    display: none !important;
}

/*** GENERATE BUTTON ***/
.tabGenerateButton>.d-flex {
    justify-content: flex-end;
}

.generateButton {
    position: relative;
    z-index: 0;
}

.generateButtonActive:before {
    content: '';
    background: linear-gradient(45deg, var(--ts-lover-3), var(--ts-fearless-3), var(--ts-red-3), var(--ts-speak-now-3), var(--ts-reputation-3), var(--ts-folklore-3), var(--ts-evermore-3), var(--ts-1989-3), var(--ts-ttpd-3), var(--ts-debut-3), var(--ts-midnights-3));
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(20px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    transition: opacity .3s ease-in-out;
    border-radius: 10em;
}

.generateButtonActive:active:after {
    background: transparent;
}

.generateButtonActive:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #212529;
    left: 0;
    top: 0;
    border-radius: 10em;
}


/***** CANVAS GENERATOR *****/

/*** FINAL IMAGE ***/
#imgCanvas .imgCanvasDiv:not(:first-child) {
    margin-left: -120px;
}

.custom-control-input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

/***** MEDIA QUERIES *****/
@media only screen and (max-width: 430px) {
    .tabContent {
        padding: 0 !important;
    }

    /* ERAS MENU */
    .tabMenu {
        display: none;
        position: fixed;
        bottom: 0;
        z-index: 99;
        background: #FFFFFF;
        padding: 20px 0 !important;
        margin: 0 !important;
    }

    .tabMenu .nav {
        flex-wrap: nowrap;
        flex-direction: row !important;
    }

    .tabMenu .nav button {
        flex-shrink: 0;
    }

    /* ERAS OUTFITS CARDS */
    .tabMenuContent {
        padding: 0 0 40px 0 !important;
        overflow: hidden;
        justify-content: center;
    }

    .tabMenuContent hr {
        display: none;
    }

    .tabContent .progress {
        display: flex;
    }

    .tabContent .outfitsTabContent .tab-pane {
        height: 61vh;
        padding: 25px 40px 45px 45px;
    }

    .tabContent .outfitsTabContent .col:hover .card,
    .tabContent .outfitsTabContent .col.selected .card {
        transform: none;
    }

    /*** GENERATE BUTTON ***/
    .tabGenerateButton {
        margin: 0;
    }

    .tabGenerateButton>.d-flex {
        justify-content: center;
    }
}

/***** ANIMATIONS *****/
@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}


@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }

    50% {
        background-position: 100% 100%;
    }

    100% {
        background-position: 0% 0%
    }
}

@keyframes pulse {
    0% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1)
    }

    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05)
    }

    to {
        -webkit-transform: scaleX(1);
        transform: scaleX(1)
    }
}